* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  color: black;
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  -webkit-perspective: 100vh;
  -webkit-perspective-origin: 50% 50vh;
  background-color: black;
  font-family: 'Rubik', sans-serif;
}

i{transition: transform 0.5s;}

i:hover{
	color: white;
	transform: scale(1.25);
}

a{
	cursor: pointer;
	text-decoration: none;
}

.spinner-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	z-index: 999999;
}

.spinner {
	width: 40px;
	height: 40px;

	position: relative;
	position: absolute;
	top: 48%;
	left: 48%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#homepage{
	height: 100vh;
	width: 100vw;
}

#cube{
	position: relative;
  	height: 100vh;
  	width: 100vw;
  	background-image: url("images/pic35.png");
  	background-size: 100vw 100vh;
  	-webkit-transition: -webkit-transform 1.1s linear;
  	-webkit-transform-style: preserve-3d;
}

.face{
	height: 100vh;
  	width: 100vw;
}

#cube .two{
	position: absolute;
	margin: 0px;
	width: 100vw;
	height: 100%;
	-webkit-transform: translate3d(50vw, 0, -50vw) rotateY(90deg);
	background-image: url('images/blueGrid.jpg');
	top: 0%;
}
#cube .three{
	position: absolute;
	margin: 0px;
	width: 100vw;
	height: 100vh;
	-webkit-transform: translate3d(0vw, 0, -100vw) rotateY(180deg);
	background-color: #aba9a9;
	top: 0%;
}

#words{
	margin-left: 100px;
	margin-top: -300px;
}

#aboveFooter{
	height: 95%;
	width: 100%;
	position: absolute;
}

#line{
	position: absolute;
  	width: 100%;
  	height: 1px;
  	left: 0;
  	background: rgba(255, 255, 255, 0.00);
  	overflow: hidden;
}

#line::after{
	content: '';
    display: block;
    position: absolute;
    width: 25vh;
    height: 100%;
    top: 0;
    left: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: move 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

#line:nth-child(1)::after {animation-delay: 2.0s;}
#line:nth-child(2)::after {animation-delay: 3.5s;}
#line:nth-child(4)::after {animation-delay: 0.5s;}
#line:nth-child(5)::after {animation-delay: 2.4s;}
#line:nth-child(6)::after {animation-delay: 4.0s;}
#line:nth-child(7)::after {animation-delay: 1.0s;}

.oneLine{top: 11%;}
.twoLine{top: 21%;}
.threeLine{top: 31%;}
.fourLine{top: 41%;}
.fiveLine{top: 51%;}
.sixLine{top: 61%;}
.sevenLine{top: 71%;}

@keyframes move{
	from {left: -50%;}
  	to {right: 110%;}
}

#topBar{
	display: none;
}

#bannerHome{
	height: 20%;
	width: 100%;
}

#banner{
	height: 10%;
	width: 100%;
}

#middle{
	height: 80%;
	width: 100%;
}

#footer{
	height: 5%;
	width: 100%;
  	position: fixed;
  	left: 0;
  	bottom: 0;
}

#navButtonBox{
	height: 100%;
	width: 50%;
	float: right;
}

.navButtonHome{
	height: 40%;
	float: right;
	text-align: center;
	padding-top: 3.5%;
	padding-left: 4%;
	padding-right: 4%;
	transition: background-color 1s, transform 0.5s;
}

.navButtonHome:hover{
	animation: fill 1s;
	animation-fill-mode: forwards;
	background-color: white;
	transform: scale(0.85);
}

.navButton{
	height: 80%;
	float: right;
	text-align: center;
	padding-top: 3.5%;
	padding-left: 4%;
	padding-right: 4%;
	transition: background-color 1s, transform 0.5s;
}

.navButton:hover{
	animation: fill 1s;
	animation-fill-mode: forwards;
	background-color: white;
	transform: scale(0.85);
}

#navLinesBox{
	display: none;
}

#navButtonMob{
	display: none;
}

#picTitle{
	height: 50%;
	width: 100%;
}

#avatar{
	height: 100%;
	width: 32%;
	float: left;
	padding-left: 3%;
	text-align: center;
	transform-origin: 50% 100%;
}

@keyframes avatarAnimation{
	25%{transform: rotate(-20deg);}
	50%{transform: rotate(5deg);}
	100%{transform: rotate(0deg);}
}

#avatarPic{
	max-width: 100%;
  	max-height: 100%;
}

#avatarPic:hover{
	transform: scale(1.02);
	cursor: pointer;
}

#titleBox{
	max-height: 100%;
	max-width: 62%;
	float: left;
	padding-top: 8.5%;
}

#nameMonitor{
	font-size: 3.8vw;
	font-family: 'Roboto Slab', serif;
}

#nameMob{
	display: none;
}

#nameMove{
	display: inline-block;
	transform-origin: 50% 100%;
	animation: yell 3.5s infinite;
	animation-delay: 3.0s ;
	animation-timing-function: ease;
}

@keyframes yell{
	3% {transform: scaleY(1.2) scaleX(1.01);}
    6% {transform: scaleY( 1.1);}
    12%{transform:scaleY(1.2) scaleX(1.01);}
    18% { transform: scaleY(1);}
    25% { transform: scaleY(1);}
    50% { transform: scaleY(1);}
    75% { transform: scale(1);}
  }
}

#description{
	font-size: 1.9vw;
	font-weight: thin;
}

#aboutMain{
	background-color: #aba9a9;
	margin: auto;
	width: 75vw;
	height: 85%;
}

#aboutTitle{
	width: 100%;
	height: 15%;
	padding: 15px;
	font-size: 2.0em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

#aboutContent{
	width: 75%;
	height: 75%;
	padding: 60px;
	font-size: 1.2em;
	margin: auto;
	background-color: #f0f0f0;
	font-family: 'Poppins', sans-serif;
	line-height: 6.0vh;
	text-align: justify;
	overflow: hidden;
}

#emojis{
	font-size: 2.5em;
	padding-top: 2vh;
	text-align: center;
}

#projectsTitle{
	width: 100%;
	height: 15%;
	padding: 10px;
	font-size: 2.0em;
	text-align: center;
	font-family: 'Roboto Slab', serif;
}

#projectsContent{
	width: 99%;
	height: 69%;
	overflow: scroll;
	overflow-x: hidden; 
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.row{
	height: 100%;
}

.postIt{
	background-image: url('images/postIt.png');
	background-size: 100% 100%;
	width: 33%;
	height: 100%;
	display: inline-table;
}

.postIt:nth-child(1){background-image: url('images/postIt.png');}
.postIt:nth-child(2){background-image: url('images/postIt2.png');}
.postIt:nth-child(3){display: none;}
.postIt:nth-child(4){background-image: url('images/postIt3.png');}

.projectTitle{
	width: 70%;
	height: 13%;
	text-align: center;
	margin:auto;
	padding-top: 3vh;
	font-size: 0.8em;
	font-family: 'Roboto Slab', serif;
}

.projectContent{
	width: 80%;
	min-height: 75%;
	margin: auto;
	padding: 2vh;
	font-size: 1.3em;
	top: 6vh;
}

.projectImage{
	width: 80%;
	height: 25vh;
	background-size: 100% 100%;
	background-color: pink;
	margin: auto;
	background-image: url('images/Graphics.jpg');
}

.projectImage:nth-child(1){background-image: url('images/Graphics.jpg');}

#footButtonBox{
	max-height: 100%;
	width: 12%;
	float: left;
	margin-left: 1%;
}

.footButton{
	max-height: 100%;
	width: 33%;
	float: left;
	text-align: center;
}

#pCopy{
	padding-top: 0.5em;
}

@media screen and (max-width: 1020px) {
	html, body{
	  -webkit-perspective: none;
	  -webkit-perspective-origin: none;
	  background-image: none;
	  background-color: #aba9a9;
	}

	#cube{
  		background-image: url("images/pic50.png");
	}

	#aboveFooter{
		height: 90%;
	}

	#cube .two{display: none;}
	#cube .three{display: none;}

	#line{
		display: none;
	}

	#banner{
		height: 5%;
	}

	#topBar{
		display: none;
		position: absolute;
		height: 150px;
		width: 100vw;
	}

	#navButtonBox{
		display: none;
	}

	.navButton{
		height: 100%;
		display: none;
		float: right;
	}

	#navLinesBox{
		height: 50px;
		width: 40px;
		display: block;
		float: right;
		padding-top: 10px;

	}

	#navButtonMob{
		height: 20%;
		width: 100%;
		text-align: center;
		padding-top: 7px;
		display: block;
		background-color: white;
	}

	#picTitle{
		height: 85vh;
	}

	#avatar{
		height:40%;
		width: 100%;
		float: center;
		padding-left: 0%;
		padding-top: 20px;
	}

	#titleBox{
		height:60%;
		max-width: 100%;
		padding-left: 15%;
		padding-top: 3%;

	}

	#nameMonitor{
		display: none;
	}

	#nameMob{
		font-family: 'Roboto Slab', serif;
		display: block;
		font-size: 40px;
		padding-right: 7%;
	}

	#description{
		font-size: 20px;
		padding-right: 7%;
	}

	#aboutMob{
		background-image: url('images/blueGrid.jpg');
		width: 100vw;
		height: 100vh;
	}

	#aboutMain{
		background-color: transparent;
	}

	#aboutContent{
		font-size: 2.4vh;
		padding: 10px;
		width: 100%;
		height:90%;
		line-height: 4.4vh;
		text-align: center;
	}

	#projectsMob{
		background-color: #aba9a9;
		width: 100vw;
		height: 100vh;
	}

	#projectsContent{
		height: 100%;
		overflow: hidden;
	}

	.postIt{
		width: 100%;
		height: 90vh;
		display: block;
	}

	.projectTitle{
		padding-top: 4.5vh;
	}

	#footer{
		height: 10%;
		background-image: url('images/grid2.jpg');
	}

	#footButtonBox{
		height: 100%;
		width: 50%;
		margin: auto;
		float: none;
	}

	.footButton{
		height: 100%;
	}

	#copyright{
		display: none;
	}

	i{
		padding-top: 30%;
	}

	#cross{
		padding-top: 0%;
	}
}